<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="estilo.css" rel="stylesheet" />
    <title>FLEBOX</title>
  </head>
  <body>
    <header class="header">HACKER NEWS</header>
    <div class="container">
      <div id="newsTab">
        <button>All</button>
        <button>My Favs</button>
      </div>

      <div class="dropDown">
        <select>
          <option>select...</option>
        </select>
      </div>

      <div class="rowBox">
        <div class="box">
          <div class="box__text">
            <p>1 hour ago by author<br /></p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
            ducimus voluptas ratione excepturi iusto atque ullam, alias
            laboriosam debitis velit consequuntur illo suscipit eveniet maxime,
            pariatur esse dolor, in officia.
          </div>
          <div class="box__action"><p>Heart</p></div>
        </div>
        <div class="box"></div>
      </div>

      <div class="rowBox">
        <div class="box">
          <div class="box__text">
            <p>1 hour ago by author<br /></p>
          </div>
          <div class="box__action"><p>Heart</p></div>
        </div>
      </div>
    </div>
  </body>
</html>
